<style type="text/css">
body
{
background-color:#b0c4de;
}
</style>
  <div class="container">
  	<div class="span-24">
      <h1> Welcome to What's The Best </h1>
      </br>
      </br>
  	</div>

    <div class="span-7 colborder" style="background-color:#ABC;"> 
      <h2>WTB, or Who's The Better, gives you the power to create your own Facemash!</h2> 
    </div>    
    <div class="span-8 colborder" style="text-align:center;background-color:#ABC;"> 
      <br/>
      <h1><%=link_to "Crie sua Disputa!", :controller => :disputes, :action => :new %></h1>      
      <br/><br/><br/><br/><br/>

    </div>    
    <div class="span-7 last" style="background-color:#ABC;"> 
      Aqui ficará localizada a busca de disputas do site.       
    </div>    
    
  	<div class="span-24">
  		
      <br/>
		  <div id="fb-root"></div>
      <script src="http://connect.facebook.net/en_US/all.js#appId=248126771877217&amp;xfbml=1"></script><fb:like href= "wtb-app.heroku.com"<%= request.fullpath %> send="false" width="450" show_faces="true" action="like" font=""></fb:like>
      <br/>
      Criado Por Victor Araújo
  	</div>
  </div>